<div class="d-flex flex-column flex-shrink-0 p-3">
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a [routerLink]="['/dashboard']" routerLinkActive="active" class="nav-link link-dark">
                <i class="las la-tachometer-alt"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a [routerLink]="['/list']" routerLinkActive="active" class="nav-link link-dark">
                <i class="las la-list-ul"></i>
                List
            </a>
        </li>
    </ul>
</div>
