<app-loader *ngIf="!(data$ | async); else content"></app-loader>

<ng-template #content>
    <h4>List years with multiple winner</h4>
    <app-table>
        <thead thead>
            <tr>
                <th>Year</th>
                <th>Win Count</th>
            </tr>
        </thead>
        <tbody tbody>
            <tr *ngFor="let item of (data$ | async)?.years">
                <td>{{ item.year }}</td>
                <td>{{ item.winnerCount }}</td>
            </tr>
        </tbody>
    </app-table>
</ng-template>
