<div class="row">
    <div class="col-12 col-md-6">
        <app-years-with-multiple-winners></app-years-with-multiple-winners>
        <hr>
    </div>
    <div class="col-12 col-md-6">
        <app-top-studios></app-top-studios>
        <hr>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 col-md-6">
        <app-prize-interval></app-prize-interval>
        <hr>
    </div>
    <div class="col-12 col-md-6">
        <app-movies-by-year></app-movies-by-year>
        <hr>
    </div>
</div>
